<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все заметки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <a href="/add-note">Добавить</a>
        <ol class="list-group list-group-numbered">
            {% for note in notes %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="/note/{{ note[0] }} " style="text-decoration: none;">{{ note[1] }}</a></div>
              </div>
              <a href="/delete/{{ note[0] }}"><span class="badge bg-primary rounded-pill">Удалить</span></a>
              <a href="{{url_for('edit', id = note[0])}}"><span class="badge bg-primary rounded-pill">Редактировать</span></a>

            </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>